{% extends "base.html" %}

{% block content %}
    <h1>{{ page_title }}</h1>
    <p style="color:#4E4E4E">Прикрепите Вашу фотографию шрифта Брайля в форму ниже</p>
        {% if form.picture.errors %}
        <div class="alert alert-warning" role="alert">
            {% for error in form.picture.errors %}
                {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        <form action = "/" method = "POST" enctype = "multipart/form-data">
          {{ form.hidden_tag() }}
          <p>
              {{ form.picture.label }}<br>
              {{ form.picture() }}
          </p>
          <p>{{ form.submit() }}</p>
      </form>
{% endblock %}